body {
    font-family:Arial,San-Serif
    colour#77B6B4
    background-color#D1E6E6
    margin:0;
    padding:0;
    line-height:2.0:
}
    header{
        background-color:D6C6F0;
        color:lilac;
        padding:20 px;
        text-allign: centre;
        




    
    

   
