body {
    font-family:Arial,San-Serif
    color:F7B0E6;
    background-color:B6D3F2;
    margin:0;
    padding:0;
    line-height:2.0:
}
    header{
        background-color:D6C6F0;
        color:l ilac;
        padding:20 px;
        text-allign: centre;

    }

headerh1 {
    margin:1;
} 
nav a {
    color:skyblue;
    text-decoration:none;
    margin : 0 10 px;
}
nav a: hover{
text-decoration : underline;
}

main{ 
padding:20 px;
max-width:800 px ;
margin: 0 auto ;
}
main img { 
max-width :100% ; 
    height:auto;
    display: block ;
    margin: 20 px 0 ;
}
footer{
    background-color:F7B0E6;
    color:babypink;
    text-allign:centre;
    padding:10 px;
    position:fixed;
    bottom:0;
    width:100 %;
}
    p{
        font-size :1.2em;
    }
    a{ 
        color:B6D3F2;
        text-decoration:none;
    }
        a:hover{ 
            text-decoration:underline;
        }
    img{ 
        border:5 px solid #4CAF50;
        border radius: 10 px;
    }
    main a [href^="maitlo:"] {
        color:F9D2F2
        font-weight:bold;  
    }
    
            
    
    
    
    


    
    

   
