head{
 font-family: 'Times New Roman', Times, serif;
 color:#F9D2F2;
 background-color:#D2E9F9;
 margin: 0;
 padding: 0;
 line-height:1.6;
}
header{
    background-color:#D5D9F6;
    color: #D5D9F6;
    padding: 20 px;
    text-align:left;
}
header h1{
        margin:0;
}
nav a {
 color: azure;
 text-decoration: wavy;
 margin: 0.10 px;
}
nav a:hover{
    text-decoration: overline;
}
main{
    padding: 20 px;
    max-width: 800 px;
    margin: 0 auto;
}
main img{
    max-width: 100%;
height: auto;
display: contents;
margin: 20 px 0;
}
 footer{
    background-color: #D5D9F6;
    color: #D5D9F6;
    text-align: center;
    padding: 10%;
    position: fixed;
    border: #F9D2F2;
    bottom: 0;
    width: 100%;
 }
p{
    font-size: 1.6em;
}
a{
    color: #0C0C69;
    text-decoration: wavy;
}
a:hover{
    text-decoration: dotted;
    
}

img{
    border: 3px solid slategrey;
    border: radius 10px;
}
main a [href^="mailto:trinitymmolawa@gmail.com"]{
color:#6B0A60;
font-weight:bold;
}
     
    
    
    
    


    
    

   
